<div id="hair-no-bottles" class="tabcontent">
    <p class="age-para">Select size</p>
    <div class="hair-img-wrapper bottle">
        <div class="bottle-row">
            <label>
                <input type="radio" name="hair-img-radio" class="hair-img-radio" value="200S+200C">
                <span class="hair-img__span"></span>
                <img src="images/big-bottle.png">
                <img src="images/big-bottle.png">
                <p>200ml Shampoo + 200ml Conditioner</p>
                <span class="bottle-span">1,850</span>
            </label>
            <label>
                <input type="radio" name="hair-img-radio" class="hair-img-radio" value="300S+200C">
                <span class="hair-img__span"></span>
                <img src="images/big-bottle.png">
                <img src="images/small-bottle.png">
                <p>300ml Shampoo + 200ml Conditioner</p>
                <span class="bottle-span">2,150</span>
            </label>
        </div>
        <div class="bottle-row">
            <label>
                <input type="radio" name="hair-img-radio" class="hair-img-radio" value="500S+300C">
                <span class="hair-img__span"></span>
                <img src="images/big-bottle.png">
                <img src="images/small-bottle.png">
                <p>500ml Shampoo + 300ml Conditioner</p>
                <span class="bottle-span">2,850</span>
            </label>
            <label>
                <input type="radio" name="hair-img-radio" class="hair-img-radio" value="500S">
                <span class="hair-img__span"></span>
                <img src="images/big-bottle.png">
                <p>500ml Shampoo only</p>
                <span class="bottle-span">2,150</span>
            </label>
        </div>

    </div>
    <div class="btn-tab-block cv-next__select-btn"><button class="btn-hair-scnd">Next</button></div>
    <div class="hair-tab-error-third error hide">Select one kit.</div>
</div>